<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311710112203-rp8nd7r0v2cpmmajpd1q8n23gl9v0p0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311710112203-rp8nd7r0v2cpmmajpd1q8n23gl9v0p0u</string>
	<key>API_KEY</key>
	<string>AIzaSyD5OK5LXRNmMMv6eYoHC0f-KcA306Eu8gM</string>
	<key>GCM_SENDER_ID</key>
	<string>311710112203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yurikanamba.newsapp</string>
	<key>PROJECT_ID</key>
	<string>arapp-dfda3</string>
	<key>STORAGE_BUCKET</key>
	<string>arapp-dfda3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311710112203:ios:c7e05421b6a3826fabbe4e</string>
	<key>DATABASE_URL</key>
	<string>https://arapp-dfda3.firebaseio.com</string>
</dict>
</plist>